.alert{
    position: fixed;
    z-index: 9;
    width: 500px;
    right: 20px;
    top: 10%;
}

@media(max-width:767px){
    .alert{
        width: 90%;
        right: 0;
        top: 10%;
        left: 0;
        margin: 0 auto;
    }
}